
/* SECCION DE ABAUT PAGINA PRINCIPAL */
.abaut {
    position: relative;
    width: 80%;
    margin: 40px auto 30px;
    display: flex;
    background-color: var(--color-dark-primary);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.img-size {
    width: 350px;
    height: 350px;
    border-radius: 5px 0 0 5px;
}

.description {
    color: var(--heading-clr);
    margin-left: 30px;
}

.name-h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 400;
}

.abaut-parrafo {
    font-style: italic;
    font-weight: 200;
}

.color-letra-abaut {
    color: var(--color-orange);
    font-size: 1.5em;
}

.right {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

/* SECCION DE INFO EXPERIENCIA */
.info-experiencia {
    width: 80%;
    margin: 40PX auto 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-dark-primary);
}

.tiempo, .tattos, .desing {
    color: var(--heading-clr);
}

.tiempo, .tattos {
    border-right: solid 1px var(--color-orange);
}

.big {
    font-size: 3em;
    font-weight: 700;
    margin: auto;
    color: var(--color-orange);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight {
    font-weight: 300;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* SECCION DE MIS SERVICIOS */
.sub-title {
    color: aliceblue;
    display: block;
   text-align: center;
}

.sub-title h2 {
    font-size: 2em;
    font-weight: 200;
}

.sub-title h4 {
    font-weight: 200;
    font-style: italic;
}

.servicios-content {
    margin: 60px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.desing-service {
    position: relative;
    /* background-color: rgb(31, 31, 31); */
    border: solid 1px var(--color-orange);
    border-radius: 5px;
    transition: all .2s;
    box-shadow: var(--box-shadow);
}

.desing-service:hover {
    background-color: var(--color-orange);
    color: black;
    cursor: pointer;
}

.desing-service:hover p {
    color: black;
    font-weight: 300;
}

.desing-service h3 {
    background-color: var(--color-orange);
    padding: 2px 45px;
    border-radius: 20px;
    color: black;
    font-weight: 400;
    position: absolute;
    top: -15px;
    left: 27.5%;
}

.desing-service p {
    text-align: center;
    margin: 40px 10px;
    color: var(--heading-clr);
    font-weight: 300;
}

.desing-service .logo {
    position: absolute;
    left: 42.5%;
    bottom: -30px;
    border: solid 2px var(--color-orange);
}

.bg {
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}