

.content-form-admin {
    width: 25%;
    display: none;
    position: fixed;
    top: 25%;
    left: 37.5%;
    z-index: 500;
    background-color: rgb(135, 135, 135);
    padding: 30px;
    border-radius: 5px;
}

.content-form-admin #name-form-admin, #password {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(195, 195, 196);
}

.content-form-admin h3 {
    color: black;
    margin-bottom: 20px;
}

.content-form-admin button {
    padding: 5px 25px;
    background-color: rgb(43, 96, 255);
    color: aliceblue;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.content-form-admin button:hover {
    background-color: rgb(22, 76, 255);
}

.nav-bar-admin {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-admin {
    color: aliceblue;
    text-align: left;
    margin: 30px;
}

.left {
    font-size: 0.7rem;
    color: var(--color-orange);
}

.left h3 {
    color: aliceblue;
}

.btn-admin button {
    font-size: 1rem;
    margin: 35px 50px 0 0;
    padding: 5px 20px;
}

.head-login-admin {
    display: flex;
    justify-content: space-between;
}