

@media screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    .nav-items {
        display: none; 
        flex-direction: column;
        width: 100%;
        margin-top: 60px;
    }

    .item {
        margin-left: -22px;
    }

    .agenda {
        margin: auto;
        margin-left: -22px;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items a {
        padding: 10px;
        text-align: center;
    }

    .menu-hamburguesa i {
        display: block;
    }

    .video-banner {
        position: relative;
        height: 80vh;
        width: 100%;
        overflow: hidden;
    }

    .name {
        font-family: "Dancing Script", cursive;;
        font-weight: 800;
        font-size: 5em;
        color: aliceblue;
        z-index: 100;
    }

    .abaut {
        display: block;
        width: 100%;
    }

    .img-size {
        width: 100%;
        height: 100%;
    }

    .servicios-content {
        display: block;
    }
    
    .desing-service {
        margin-bottom: 60px;
    }

    .slogan {
        font-family: "Dancing Script", cursive;
        color: aliceblue;
        z-index: 100;
        font-size: 1.5em;
        font-weight: 100;
        text-align: center;
        color: var(--color-orange);
    }

    .info-experiencia {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }

    .tiempo, .tattos {
        border-bottom: solid 1px var(--color-orange);
        border-right: none;
    }
}


@media screen and (min-width: 769px) and (max-width: 900px) {


    .video-banner {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .name {
        font-family: "Dancing Script", cursive;;
        font-weight: 800;
        font-size: 6em;
        color: aliceblue;
        z-index: 100;
    }

    .abaut {
        display: block;
        width: 100%;
    }

    .info-experiencia {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }

    .servicios-content {
        display: block;
    }

    .tiempo, .tattos {
        border-bottom: solid 1px var(--color-orange);
        border-right: none;
    }

    .desing-service {
        margin-bottom: 60px;
    }

    .abaut {
        position: relative;
        width: 100%;
        margin: 40px auto 30px;
        display: flex;
        background-color: var(--color-dark-primary);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }  
}

@media screen and (min-width: 901px) and (max-width: 1024px) {

    .name {
        font-family: "Dancing Script", cursive;;
        font-weight: 800;
        font-size: 6em;
        color: aliceblue;
        z-index: 100;
    }

    .video-banner {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
}