/* MODULOS CSS */
@import "/css/header.css";
@import "/css/main.css";

/* REESTABLECIDO DE ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: "Poppins", sans-serif;
}


/* PALETA DE COLORES */
:root {
    --primary-color: #fafafa;
}





  